<!DOCTYPE html>
<html>
<head>
    <title>Detect Barcode</title>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-dark">
<div class='container d-flex justify-content-center' style="margin-top:5%;">
  <video style="height:1400px;" id="myVideo" autoplay></video>
</div>
<div class="container bg-white text-center py-2" action="/image" method = "GET">
  <p style="font-size:30px;">{{text}}</p>
</div>

<br>
<div class='container d-flex justify-content-center'>
<img  onclick="sendImagefromCanvas()" src ="/static/cam.png" style="width:200px;height:200px;" id='stop'/>

</div>
<br>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    console.log('{{text}}');
    let v = document.getElementById("myVideo");
    let btn = document.getElementById("btn");
    let imageCanvas = document.createElement('canvas');
    let imageCtx = imageCanvas.getContext("2d");
    var campos = "user";
    
    function postFile(file) {
        let formdata = new FormData();
        formdata.append("image", file);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/image', true);
        xhr.onload = function () {
            if (this.status === 200)
                console.log(this.response);
            else
                console.error(xhr);
        };
        xhr.send(formdata);
    }
    function sendImagefromCanvas() {
        imageCanvas.width = v.videoWidth;
        imageCanvas.height = v.videoHeight;
        imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight);
        imageCanvas.toBlob(postFile, 'image/jpeg');
    }

  const  capture= function (camPosition) {
        navigator.mediaDevices.getUserMedia({video: {width: 1280, height: 720,facingMode: { exact: 'environment' }}, audio: false})
            .then(stream => {
                window.localStream = stream;
                v.srcObject = stream;
            })
            .catch(err => {
                console.log('navigator.getUserMedia error: ', err)
            });
          
    };
    
    window.onload = function(){
      capture(campos);
    }; 
  //   $( "#stop" ).click(function() {
  //     localStream.getVideoTracks()[0].stop();
  // });
 </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>